[submodule "metricsnet"]
	path = metricsnet
	url = https://github.com/rinshadka/metricsnet
[submodule "fider"]
	path = fider
	url = https://github.com/rinshadka/fider-mail
[submodule "fider-test"]
	path = fider-test
	url = https://github.com/rinshadka/fider-mail
	branch = master
